* {
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #345344;
}

.form-container {
  min-width: 540px;
}
.title,
.slogan {
  text-align: center;
}

.btn {
  width: 100%;
  margin-bottom: 20px;
}

.alert {
  margin-bottom: 1.5rem;
}

.profile-card {
  width: 500px;
}

.avater {
  margin-bottom: 1.5rem;
}
.username {
  text-transform: capitalize;
}
